* {
  padding: 0;
  outline: 1px dashed red;
}

.header {
  place-items: center;
  background-color: rgb(209, 206, 206);
  font-size: 16;
  font-weight: bold;
  color: cadetblue;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.main, .sideBar {
  height: 100vh; 
  box-sizing: border-box; 
  padding: 20px; 
  border: 1px solid #ccc;
  flex-direction: column;
}

.main {
  flex: 65;
  background-color: #f0f0f0; 
  position: relative;
}

.sideBar {
  flex: 35;
  border: 3px solid rgb(2, 5, 2);
  background-color: #e0e0e0; 
}
